@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

@theme inline {
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);
        }
  to {
    transform: translateX(calc(-100% - var(--gap)));
        }
    }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
        }
  to {
    transform: translateY(calc(-100% - var(--gap)));
        }
    }
}